<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.demo.domain.repository.UserMapper">
	<insert id="insert" parameterType="com.example.demo.domain.model.UserEntity">
		INSERT
		INTO USER_INFORMATION (name, birthday , gender) VALUES (#{name},
		#{birthday}, #{gender})
	</insert>
	
	<select id="selectAll"
		resultType="com.example.demo.domain.model.UserEntity">
		SELECT id, name,birthday,gender FROM USER_INFORMATION
	</select>
</mapper>