<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="common/fragment::base_head('login')">
    </head>
    <body>
        <div th:replace="common/fragment::header"></div>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div th:if="${param.timeout}">
            You have been session timeout.
        </div>
        <form th:action="@{/login}" method="post">
        	<div class="container-fluid">
        	<div class="row">
            	<div class="col-1"><label class="form-label text-nowrap"> User Name : </label></div>
            	<div class="col-3"><input class="form-control"  type="text" name="username"/> </div>
            	<div class="col-1"><label class="form-label"> Password: </label></div>
            	<div class="col-3"><input class="form-control"  type="password" name="password"/> </div>
        	</div>
       		 <div class="row">
            	<div class="col-2"><input class="btn btn-primary"  type="submit" value="Sign In"/></div>
			</div>
        	</div>
        </form>
        <div th:replace="common/fragment::footer"></div>
    </body>
</html>